#play-body {
  margin: auto;
  max-width: 375px;

  @media only screen and (min-width: 900px) {
    max-width: 1000px;
  }

  .play-categories,
  .play-intro-details {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 375px;

    @media only screen and (min-width: 900px) {
      max-width: 1000px;
    }

    .play-cat-btns {
      width: 50%;
      margin: 14px;
      align-self: center;
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      background-color: $accent-1;
      padding: 17px 0;

      &:hover {
        color: $accent-1;
        background-color: #6e5f6c !important;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
      }

      @media only screen and (max-width: 600px) {
        background-color: $accent-1;
        width: 90%;
      }
    }
  }

  .play-intro-image {
    img {
      width: 50%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-bottom: -15px;
      margin-top: 35px;

      @media only screen and (max-width: 600px) {
        width: 90%;
      }
    }
  }
  .play-question-image {
    img {
      width: 50%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-top: -35px;
      z-index: -100;

      @media only screen and (max-width: 600px) {
        width: 90%;
      }
    }
  }
}
