.logout {
  margin: 0 20px;
  font-size: 25px;
  color: white;
}

.login-button {
  padding: 10px;
  width: 90%;
  border-radius: 40px;
  margin: auto;
  margin-top: 150px;
}

#cat-btns {
  margin: 4px;
}
