#google-auth {
  text-align: right;
  margin: auto;
  font-size: 14px;
  color: white;
  cursor: pointer;
  z-index: 100;
}

.login-button {
  text-align: center !important;
  margin: 0 24px;
  padding: 10px;
  max-width: 300px;
  border-radius: 40px;
  border: none !important;
  margin: auto;
  margin-top: 150px;
  background-color: $main-purple !important;
  color: white !important;
  font-size: 24px !important;
  font-family: $roboto !important;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
}

#cat-btns {
  margin: 4px;
}

.button-row {
  margin: 10px;
  justify-content: space-between;
  #back-btn {
    margin: 0;
    align-self: center;
  }
}

#score-toggle {
  margin-top: 50px;
  width: 60%;

  @media only screen and (max-width: 600px) {
    margin-top: 10px;
    width: 100%;
  }

  .score-btn-group {
    background-color: rgba(77, 45, 72, .4) !important;
    color: white;
  
    &:hover {
      background-color: $main-purple !important;
      color: white ;
    }
  }

  .selected-time-option {
    background-color: $main-purple !important;
    color: white ;
    border: 5px solid white;
  }
}
