.scene {
  max-width: 500px;
  perspective: 600px;
  margin: auto;
}

.flashcard {
  width: 100%;
  min-height: 400px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  margin: 20px 0;
}

.flashcard.is-flipped {
  transform: rotateY(180deg);
}

.flashcard__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-size: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flashcard__face--front {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: $main-purple;
  padding: 20px;
  border: 2px solid white;
}

.flashcard__face--back {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: $accent-1;
  color: black !important;
  transform: rotateY(180deg);
  padding: 20px;
  border: 2px solid $main-purple;

  a {
    text-decoration: none;
    color: rgb(68, 68, 68);
  }
}

.flashcards-button-bar {
  display: flex;
  max-width: 400px;
  margin: auto;
  justify-content: space-around;
}
