nav {
  background-color: gray;
  font-family: 'Bebas Neue', cursive;
}

#back-btn {
  margin: -20px 10px 10px 15px;
  text-align: left !important;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
