nav {
  background-color: gray;
  font-family: 'Bebas Neue', cursive;
}

#back-btn {
  margin: -20px 10px 10px 10px;
  text-align: left !important;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}
