$list: (
  ('first-place', white, 125px, 0px, 10px),
  ('second-place', $main-purple, 100px, -20px, 5px),
  ('third-place', $main-purple, 75px, -15px, 3px)
);

.you-in-top-three {
  color: $accent-1;
}

.top-three {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: flex-end;

  img {
    border-radius: 50%;
  }

  .crown  {
    border: none !important;
    width: 50px !important;
    align-self: center;
    margin-top: -10px;
  }

  @each $item, $color, $pixels, $margin, $border in $list {
    .#{$item} {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      color: white;

      @if($item == 'second-place') {
        margin-left: $margin;
        margin-bottom: -15px;
      } @else if ($item == 'third-place') {
        margin-right: $margin;
        margin-bottom: -15px;
      } @else {
        z-index: 100;
      }

      .number {
        color: white;
      }

      .score {
        font-family: $score-font;
        font-size: 30px;
      }
  
      .badge {
        max-width: 70px;
        align-self: center;
      }

      img {
        width: $pixels;
        border: $border solid $color;
      }
    }
  }
}

.table {
  width: 70%;
  margin: auto;
  border: none;
  border-radius: 20px;
  margin-bottom: 50px;

  @media only screen and (max-width: 600px) {
    width: 95%;
  }

  .user-row-score {
    background-color: $main-purple !important;
    border: 5px solid white;
    font-size: larger;
  }

  th, td {
    vertical-align: middle;
  }

  .table-image {
    width: 60px;
    border-radius: 50%;
  }
}
