body {
  text-align: center;
  background-image: linear-gradient($linear-grad-2, $linear-grad-1, $linear-grad-2), url('../assets/bg.jpg') !important;
  min-height: 680px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  @media only screen and (min-width: 900px) {
    height: 100vh;
  }

  // &::after {
  //   content: "";
  //   background: url(./../../assets/bg.jpg);
  //   opacity: 0.5;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   z-index: -1;   
  // }

  .hidden {
    visibility: hidden;
    line-height: 0;
  }
  // background-size: cover;
  
  #app {
    margin: auto;
    max-width: 375px;

    @media only screen and (min-width: 900px) {
      max-width: 1000px;
    }
  }

  h1 {
    margin-top: 150px;
    font-family: $large-font;
    font-size: 100px;
    margin-bottom: 0rem;
    line-height: .9;
  }

  h3 {
    font-size: 25px;
  }

  .subtitle {
    font-family: $roboto;
    font-weight: 100;
    font-size: 30px;
  }
}

hr {
  background-color: gray;
}
