@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: black;
  text-align: center;
  margin-top: 100px;
}

.logout {
  margin: 0 20px;
  font-size: 25px;
  color: white;
}

#cat-btns {
  margin: 4px;
}